* {
  margin: 0px;
  padding: 0px;

}

body, .footer{
  max-width: 80% ;
  margin: auto;
}

/* floats left */
.fl {
  float: left;
}

/* floats right */
.fr {
  float: right;
}

/* relative positioning */
.psr {
  position: relative;
}

/* sidebar icon */
.sbi {
  position: absolute;
  right: 0px;
}

/* list style none */
.lsn {
  list-style: none;
}
