.header{
  background: #7DD9E8;
}

.search {
  float: left;
}

.dashboard {
  float: right;
}

.nav-items > ul > li {
  float: left;
  padding: 10px;
}
.navbar {
  width: 100%;
}
.notifications {
  float: right;
  padding: 10px;
}

.left-sidebar {
  text-align: left;
  width: 20%;
  height: 500px;
  background: sienna;
}

.center-container {
  text-align: left;
  width: 60%;
  height: 500px;
  background: royalblue;
}
.right-sidebar {
  text-align: left;
  width: 20%;
  height: 500px;
  background: slateblue;
}

.footer {
  background: gray;
  position: fixed;
  bottom: 0px;
  width: 80%;
}

.footer-navigation > ul > li {
  float: left;
}

.footer-navigation > ul > li:after {
  content: "\2022";
}
.footer-navigation > ul > li:last-child::after {
  content: "";
}