.header {
  background: #7dd9e8;
  height: 44px;
  padding: 22px 32px;
}

.header-content-wrapper {
  margin: 0 auto;
  width: 100%;
}

.search {
  margin-top: 20px;
  padding-left: 23px;
  float: left;
  position: relative;
}

#search-bar > input {
  padding: 5px;
  background: #caeff7;
  border: none;
  height: 10px;
  width: 300px;
  outline: none;
  margin-right: 7px;
}

#search-bar:before {
  content: " ";
  float: left;
  width: 10px;
  height: 20px;
  margin-right: -2px;
  margin-top: 1px;
  background: url(images/components/search-bar-left.png) no-repeat 0 0;
}

.clear-input {
  padding: 5px;
  position: absolute;
  right: 27px;
  top: -3px;
}

.clear-input:hover {
  cursor: pointer;
}

.search-icon {
  padding: 5px;
  margin-right: 10px;
  margin-left: -5px;
  margin-top: 1px;
  height: 10px;
  background: #caeff7;
}

.search-icon:hover {
  cursor: pointer;
}

.search-icon > img {
  margin-right: -5px;
  margin-bottom: 5px;
}

.search-icon:after {
  content: " ";
  float: right;
  width: 10px;
  height: 20px;
  background: url(images/components/search-bar-right.png) no-repeat 0 0;

  margin-right: -15px;
  margin-top: -5px;
}

#search-button {
  float: left;
  padding: 0px 5px;
  border: none;
  background: #275056;
  color: white;
  height: 20px;
  line-height: 20px;
  font-size: 10px;
  font-weight: bold;
  margin-top: 20px;
}

.button-wrapper,
button:hover {
  padding-top: 2px;
  text-align: center;
  cursor: pointer;
}

.button-wrapper:before {
  content: " ";
  float: left;
  width: 10px;
  height: 20px;
  margin-top: 20px;
  margin-right: -3px;
  background: url(images/components/search-button-left.png) no-repeat 0 0;
}
.button-wrapper:after {
  content: " ";
  float: left;
  width: 10px;
  height: 20px;
  margin-top: 20px;
  margin-right: -3px;
  background: url(images/components/search-button-right.png) no-repeat 0 0;
}

.dashboard {
  text-align: right;
}

.username {
  font-size: 15px;
}

.dashboard-options {
  text-align: right;
  padding-top: 5px;
}

.nav-items > ul > li {
  float: left;
  padding: 10px;
}
.navbar {
  width: auto;
  padding: 0px 0px 0px 22px;
  height: 40px;
  background: #f5f5f5;
  font-size: 12px;
  color: #3c3c3c;
}
.notifications {
  float: right;
  padding: 10px;
  margin-right: 12px;
}

.notifications > ul > li {
  float: left;
  padding: 0px 10px;
}

#icon-bin {
  float: left;
  padding: 0px 10px;
  height: 25px;
  background: url("/images/icons/icon-bin-inactive.png") no-repeat;
}

.notifications > ul > li:hover #icon-bin {
  float: left;
  padding: 0px 10px;
  height: 25px;
  background: url("/images/icons/icon-bin.png") no-repeat;
}

#icon-person {
  float: left;
  padding: 0px 10px;
  height: 25px;
  background: url("/images/icons/icon-person-inactive.jpg") no-repeat;
}

.notifications > ul > li:hover #icon-person {
  float: left;
  padding: 0px 10px;
  height: 20px;
  background: url("/images/icons/icon-person.jpg") no-repeat;
}

.body {
  margin: 28px 32px;
}

.left-sidebar {
  text-align: left;
  width: 20%;
  background: #f5f5f5;
  height: 625px;
}

.sidebar-heading {
  background: #2fc1da;
  height: 42px;
  padding-left: 12px;
}

.sidebar-heading > h2 {
  color: #fff;
  line-height: 42px;
  font-size: 14px;
  background-color: transparent;
}

.recent-searches > ul > li > a {
  padding: 12px;
  display: block;
}

.recent-searches > ul > li > a:hover {
  padding: 12px;
  background: white;
  display: block;
}

.center-container {
  text-align: left;
  width: 518px;
  margin: 0px 26px;
}

.left-selector {
  width: 258px;
  height: 65px;
  background: #f5f5f5;
  color: #3c3c3c;
}

.left-selector:before {
  content: " ";
  float: left;
  width: 10px;
  height: 65px;
  background: url(images/components/grey-big-button-left.jpg) no-repeat 0 0;
}

.right-selector {
  width: 258px;
  height: 65px;
  background: #f5f5f5;
  position: relative;
  color: #3c3c3c;
}

.right-selector:after {
  position: absolute;
  right: 0px;
  top: 0px;
  content: " ";
  float: left;
  width: 10px;
  height: 65px;
  margin-right: -2px;
  background: url(images/components/grey-big-button-right.jpg) no-repeat 0 0;
}

.selector-header {
  text-align: center;
  line-height: 37px;
}

.selector-child {
  margin: 0px 10px;
  width: 104px;
  float: left;
  background: #dddddd;
  text-align: center;
  height: 28px;
  font-size: 10px;
  line-height: 28px;
  font-weight: bold;
  color: #3c3c3c;
}

.selector-child:hover {
  margin: 0px 10px;
  width: 104px;
  float: left;
  background: #2fc1da;
  text-align: center;
  height: 28px;
  font-size: 10px;
  line-height: 28px;
  font-weight: bold;
  color: #3c3c3c;
}

.selector-child:before {
  content: " ";
  float: left;
  width: 10px;
  height: 30px;
  margin-right: -5px;
  margin-top: -1px;
  background: url(images/components/grey-menu-left.jpg) no-repeat 0 0;
}

.selector-child:hover:before {
  content: " ";
  float: left;
  width: 10px;
  height: 30px;
  margin-right: -5px;
  margin-top: -1px;
  background: url(images/components/blue-menu-left.jpg) no-repeat 0 0;
}

.selector-child:after {
  content: " ";
  float: right;
  width: 10px;
  height: 29px;
  margin-top: -1px;
  background: url(images/components/grey-menu-right.jpg) no-repeat 0 0;
}
.selector-child:hover:after {
  content: " ";
  float: right;
  width: 10px;
  height: 28px;
  margin-top: 0px;
  background: url(images/components/blue-menu-right.jpg) no-repeat 0 0;
}
.entries-seperator {
  border: 2px solid #2fc1da;
  width: 514px;
}

.center-container {
  padding-bottom: 50px;
}

.article-child {
  margin-top: 15px;
}

.article-child-headings {
  margin-left: 10px;
}

.article-child-primary-heading {
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
}
.article-child-secondary-heading {
  font-size: 10px;
  font-weight: bold;
  line-height: 18px;
  color: #616161;
}
.article-child-ternary-heading {
  font-size: 10px;
  font-weight: bold;
  line-height: 18px;
  color: #616161;
}

.article-type {
  font-size: 10px;
  font-weight: 800;
  line-height: 18px;
}

.article-seperator {
  margin-top: 15px;
  border: 1px solid #d8d8d8;
}

.author {
  text-decoration: none;
  color: #4fafbf;
  font-weight: 800;
}

.subscribed {
  text-decoration: none;
  color: #6f9621;
  font-weight: 800;
}

.topic-box {
  text-decoration: none;
  color: #4fafbf;
  font-weight: 800;
}

.new-entry {
  text-decoration: none;
  color: #4fafbf;
}

.new-comment {
  text-decoration: none;
  color: #4fafbf;
}

.topic-box-invite {
  text-decoration: none;
  color: #d33f1b;
}

.right-sidebar {
  text-align: left;
  width: 176px;
  height: 625px;
  background: #f5f5f5;
}

.right-sidebar > ul > li > a {
  padding: 12px;
  display: block;
}

.right-sidebar > ul > li > a:hover {
  padding: 12px;
  background: white;
  display: block;
}

.footer {
  color: #bbbbbb;
  background: gray;
  position: fixed;
  bottom: 0px;
  width: 80%;
  height: 45px;
  padding: 0px 32px;
}

.footer-navigation > ul > li {
  float: left;
  line-height: 45px;
  margin: 0px 3px;
}

.footer-navigation > ul > li:before {
  content: "\2022";
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-left: 6px;
  color: #bbbbbb;
}
.footer-navigation > ul > li:first-child:before {
  content: " ";
}

.footer-copyright {
  line-height: 45px;
}
